<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="./Dashboard.css">
</head>

<body>
    <div class="main-container">

        <div class="navbar-container">
            <nav>
                <h2>Dr.Dipak Kumar Kole</h2>
                <div class="routes">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/publications">Publications</a></li>
                        <li><a href="/activities">Activities</a></li>
                        <li><a href="/awards">Achievements</a></li>
                        <li><a href="/student">Scholar</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/trekking">Trekking & Riding</a></li>
                        <li style="border-bottom: 2px solid #2962ff;"><a href="/dashboard">Dashboard</a></li>
                    </ul>
                </div>
                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </nav>
        </div>

        <section class="main-section">

            <div class="wrapper">
                <h1>Dashboard</h1>
                <hr style="width: 100%;">

                <div class="options">
                    <a href="/publications/edit" style="background-color: #FF7518; color: white;">Publications</a>
                    <a href="/awards/edit" style="background-color: #097969; color: white;">Achievements</a>
                    <a href="/activities/edit" style="background-color: #D22B2B; color: white;">Activities</a>
                    <a href="/edit" style="background-color: #097969; color: white;">Home</a>
                    <a href="/trekking/edit" style="background-color: #FF7518; color: white;">Trekking</a>
                    <a href="/student/edit" style="background-color: #D22B2B; color: white;">Scholar</a>
                    <a href="/news/edit" style="background-color: #097969; color: white;">News</a>
                </div>

            </div>

        </section>
        <div style="display: flex; margin-left:38vw;">
            <form action="/user/changePassword" method="get">
                <button
                    style="color: white;background-color: blue; margin: 10px; border: none; font-size: 1rem; padding: 5px; border-radius: 5px;">Change
                    Password</button>
            </form>
            <form action="/user/logout" method="post">
                <button
                    style="color: white;background-color: blue;margin: 10px; border: none; font-size: 1rem; padding: 5px; border-radius: 5px;">LogOut</button>
            </form>
        </div>
    </div>


</body>

<script>
    let hamburger = document.querySelector('.hamburger');
    hamburger.addEventListener('click', () => {
        let routes = document.querySelector('.routes');
        routes.classList.toggle('active');
    })

</script>

</html>