<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="/publications.css">
</head>

<body>
    <div class="main-container">

        <div class="navbar-container">
            <nav>
                <h1>Dr.Dipak Kumar Kole</h1>
                <div class="routes">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/publications">Publications</a></li>
                        <li style="border-bottom: 2px solid #2962ff;"><a href="/activities">Activities</a></li>
                        <li></li><a href="/awards">Achievements</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                    </ul>
                </div>
                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </nav>
        </div>

        <section class="main-section">
            <div class="publication">

                <!-- **************JOURNAL PUBLICATIONS BEGIN*********** -->
                <h1>Journal Publications</h1>
                <hr>

                <div class="card">
                    <div class="name">
                        <ul>
                            <li>Dipak Kumar Kole</li>
                            <li>Swalpa Kumar Roy</li>
                            <li>Dhiman Mondal</li>
                            <li>Purbayan Kar</li>
                            <li>Kusal Roy</li>
                        </ul>
                        <p>
                            <span id="date">
                                <strong style="font-weight: 600;">11th December,2022 : </strong>
                            </span>
                        International Journal of SN Computer Science, Vol.-5, Issue 1, Page No. 86
                        </p>
                    </div>

                    <div class="description">
                        <h1>X-ResFormer: A Model to Detect Infestation of Pest and Diseases on Crops</h1>
                        <hr>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsa. Sequi animi adipisci earum saepe perspiciatis ab quae quam tenetur accusantium tempore! Provident magnam doloremque quasi doloribus fugiat quae numquam totam aut mollitia enim autem ad itaque quo impedit atque quis earum, minima error quibusdam neque fugit! Repellendus, magnam sit! Esse enim autem sapiente minus quis delectus deleniti dolorum eum, tenetur culpa reprehenderit dicta similique corporis magni in quaerat eos, harum sed maiores voluptate possimus. Esse ut rem commodi consequuntur, nisi doloribus dolorum quidem aliquam sint laborum, laudantium vero ullam, illum quod velit voluptate asperiores. Ex sapiente soluta quae fuga?
                        </p>
                        <span id="scholarLink">
                            Link : <a href="" id="googleScholar">https://dncjgec.in/</a>
                        <span>
                    </div>
                </div>
                <div class="card">
                    <div class="name">
                        <ul>
                            <li>Dipak Kumar Kole</li>
                            <li>Swalpa Kumar Roy</li>
                            <li>Dhiman Mondal</li>
                            <li>Purbayan Kar</li>
                            <li>Kusal Roy</li>
                        </ul>
                        <p>
                            <span id="date">
                                <strong style="font-weight: 600;">11th December,2022 : </strong>
                            </span>
                        International Journal of SN Computer Science, Vol.-5, Issue 1, Page No. 86
                        </p>
                    </div>

                    <div class="description">
                        <h1>X-ResFormer: A Model to Detect Infestation of Pest and Diseases on Crops</h1>
                        <hr>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsa. Sequi animi adipisci earum saepe perspiciatis ab quae quam tenetur accusantium tempore! Provident magnam doloremque quasi doloribus fugiat quae numquam totam aut mollitia enim autem ad itaque quo impedit atque quis earum, minima error quibusdam neque fugit! Repellendus, magnam sit! Esse enim autem sapiente minus quis delectus deleniti dolorum eum, tenetur culpa reprehenderit dicta similique corporis magni in quaerat eos, harum sed maiores voluptate possimus. Esse ut rem commodi consequuntur, nisi doloribus dolorum quidem aliquam sint laborum, laudantium vero ullam, illum quod velit voluptate asperiores. Ex sapiente soluta quae fuga?
                        </p>
                        <span id="scholarLink">
                            Link : <a href="" id="googleScholar">https://dncjgec.in/</a>
                        <span>
                    </div>
                </div>
                <div class="card">
                    <div class="name">
                        <ul>
                            <li>Dipak Kumar Kole</li>
                            <li>Swalpa Kumar Roy</li>
                            <li>Dhiman Mondal</li>
                            <li>Purbayan Kar</li>
                            <li>Kusal Roy</li>
                        </ul>
                        <p>
                            <span id="date">
                                <strong style="font-weight: 600;">11th December,2022 : </strong>
                            </span>
                        International Journal of SN Computer Science, Vol.-5, Issue 1, Page No. 86
                        </p>
                    </div>

                    <div class="description">
                        <h1>X-ResFormer: A Model to Detect Infestation of Pest and Diseases on Crops</h1>
                        <hr>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsa. Sequi animi adipisci earum saepe perspiciatis ab quae quam tenetur accusantium tempore! Provident magnam doloremque quasi doloribus fugiat quae numquam totam aut mollitia enim autem ad itaque quo impedit atque quis earum, minima error quibusdam neque fugit! Repellendus, magnam sit! Esse enim autem sapiente minus quis delectus deleniti dolorum eum, tenetur culpa reprehenderit dicta similique corporis magni in quaerat eos, harum sed maiores voluptate possimus. Esse ut rem commodi consequuntur, nisi doloribus dolorum quidem aliquam sint laborum, laudantium vero ullam, illum quod velit voluptate asperiores. Ex sapiente soluta quae fuga?
                        </p>
                        <span id="scholarLink">
                            Link : <a href="" id="googleScholar">https://dncjgec.in/</a>
                        <span>
                    </div>
                </div>
                <div class="card">
                    <div class="name">
                        <ul>
                            <li>Dipak Kumar Kole</li>
                            <li>Swalpa Kumar Roy</li>
                            <li>Dhiman Mondal</li>
                            <li>Purbayan Kar</li>
                            <li>Kusal Roy</li>
                        </ul>
                        <p>
                            <span id="date">
                                <strong style="font-weight: 600;">11th December,2022 : </strong>
                            </span>
                        International Journal of SN Computer Science, Vol.-5, Issue 1, Page No. 86
                        </p>
                    </div>

                    <div class="description">
                        <h1>X-ResFormer: A Model to Detect Infestation of Pest and Diseases on Crops</h1>
                        <hr>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsa. Sequi animi adipisci earum saepe perspiciatis ab quae quam tenetur accusantium tempore! Provident magnam doloremque quasi doloribus fugiat quae numquam totam aut mollitia enim autem ad itaque quo impedit atque quis earum, minima error quibusdam neque fugit! Repellendus, magnam sit! Esse enim autem sapiente minus quis delectus deleniti dolorum eum, tenetur culpa reprehenderit dicta similique corporis magni in quaerat eos, harum sed maiores voluptate possimus. Esse ut rem commodi consequuntur, nisi doloribus dolorum quidem aliquam sint laborum, laudantium vero ullam, illum quod velit voluptate asperiores. Ex sapiente soluta quae fuga?
                        </p>
                        <span id="scholarLink">
                            Link : <a href="" id="googleScholar">https://dncjgec.in/</a>
                        <span>
                    </div>
                </div>

                <!-- **************JOURNAL PUBLICATIONS Ends*********** -->


                <!-- **************International PUBLICATIONS BEGIN*********** -->
                <h1>International Publications</h1>
                <hr>

                <div class="card">
                    <div class="name">
                        <ul>
                            <li>Dipak Kumar Kole</li>
                            <li>Swalpa Kumar Roy</li>
                            <li>Dhiman Mondal</li>
                            <li>Purbayan Kar</li>
                            <li>Kusal Roy</li>
                        </ul>
                        <p>
                            <span id="date">
                                <strong style="font-weight: 600;">11th December,2022 : </strong>
                            </span>
                        International Journal of SN Computer Science, Vol.-5, Issue 1, Page No. 86
                        </p>
                    </div>

                    <div class="description">
                        <h1>X-ResFormer: A Model to Detect Infestation of Pest and Diseases on Crops</h1>
                        <hr>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsa. Sequi animi adipisci earum saepe perspiciatis ab quae quam tenetur accusantium tempore! Provident magnam doloremque quasi doloribus fugiat quae numquam totam aut mollitia enim autem ad itaque quo impedit atque quis earum, minima error quibusdam neque fugit! Repellendus, magnam sit! Esse enim autem sapiente minus quis delectus deleniti dolorum eum, tenetur culpa reprehenderit dicta similique corporis magni in quaerat eos, harum sed maiores voluptate possimus. Esse ut rem commodi consequuntur, nisi doloribus dolorum quidem aliquam sint laborum, laudantium vero ullam, illum quod velit voluptate asperiores. Ex sapiente soluta quae fuga?
                        </p>
                        <span id="scholarLink">
                            Link : <a href="" id="googleScholar">https://dncjgec.in/</a>
                        <span>
                    </div>
                </div>

                <div class="card">
                    <div class="name">
                        <ul>
                            <li>Dipak Kumar Kole</li>
                            <li>Swalpa Kumar Roy</li>
                            <li>Dhiman Mondal</li>
                            <li>Purbayan Kar</li>
                            <li>Kusal Roy</li>
                        </ul>
                        <p>
                            <span id="date">
                                <strong style="font-weight: 600;">11th December,2022 : </strong>
                            </span>
                        International Journal of SN Computer Science, Vol.-5, Issue 1, Page No. 86
                        </p>
                    </div>

                    <div class="description">
                        <h1>X-ResFormer: A Model to Detect Infestation of Pest and Diseases on Crops</h1>
                        <hr>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsa. Sequi animi adipisci earum saepe perspiciatis ab quae quam tenetur accusantium tempore! Provident magnam doloremque quasi doloribus fugiat quae numquam totam aut mollitia enim autem ad itaque quo impedit atque quis earum, minima error quibusdam neque fugit! Repellendus, magnam sit! Esse enim autem sapiente minus quis delectus deleniti dolorum eum, tenetur culpa reprehenderit dicta similique corporis magni in quaerat eos, harum sed maiores voluptate possimus. Esse ut rem commodi consequuntur, nisi doloribus dolorum quidem aliquam sint laborum, laudantium vero ullam, illum quod velit voluptate asperiores. Ex sapiente soluta quae fuga?
                        </p>
                        <span id="scholarLink">
                            Link : <a href="" id="googleScholar">https://dncjgec.in/</a>
                        <span>
                    </div>
                </div>

                <div class="card">
                    <div class="name">
                        <ul>
                            <li>Dipak Kumar Kole</li>
                            <li>Swalpa Kumar Roy</li>
                            <li>Dhiman Mondal</li>
                            <li>Purbayan Kar</li>
                            <li>Kusal Roy</li>
                        </ul>
                        <p>
                            <span id="date">
                                <strong style="font-weight: 600;">11th December,2022 : </strong>
                            </span>
                        International Journal of SN Computer Science, Vol.-5, Issue 1, Page No. 86
                        </p>
                    </div>

                    <div class="description">
                        <h1>X-ResFormer: A Model to Detect Infestation of Pest and Diseases on Crops</h1>
                        <hr>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsa. Sequi animi adipisci earum saepe perspiciatis ab quae quam tenetur accusantium tempore! Provident magnam doloremque quasi doloribus fugiat quae numquam totam aut mollitia enim autem ad itaque quo impedit atque quis earum, minima error quibusdam neque fugit! Repellendus, magnam sit! Esse enim autem sapiente minus quis delectus deleniti dolorum eum, tenetur culpa reprehenderit dicta similique corporis magni in quaerat eos, harum sed maiores voluptate possimus. Esse ut rem commodi consequuntur, nisi doloribus dolorum quidem aliquam sint laborum, laudantium vero ullam, illum quod velit voluptate asperiores. Ex sapiente soluta quae fuga?
                        </p>
                        <span id="scholarLink">
                            Link : <a href="" id="googleScholar">https://dncjgec.in/</a>
                        <span>
                    </div>
                </div>
                
                <!-- **************JOURNAL PUBLICATIONS Ends*********** -->
            </div>
        </section>

        <footer>
            <h2>Dr. Dipak Kumar Kole</h2>
            <h3><strong style="font-weight: 600;">Email :</strong>  dipak.kole@cse.jgec.ac.in, dipak.kole@gmail.com </h3>
            <h3><strong style="font-weight: 600;">Contact No :</strong>  9748111074</h3>
            <h3><strong style="font-weight: 600;">Address :</strong>  Singur, Hooghly, West Bengal, India.</h3>
            <div class="links">
                <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-twitter"></i></a>
                <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-linkedin"></i></a>
                <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-github"></i></a>
            </div>
            <hr style="width: 100%;">
            <p style="margin: 0.3rem 0;">@ Dr.Dipak Kumar Kole | 2024</p>
        </footer>
    </div>
</body>

<script>
    let hamburger = document.querySelector('.hamburger');
    hamburger.addEventListener('click', () => {
        let routes = document.querySelector('.routes');
        routes.classList.toggle('active');
    })
</script>

</html>