#Trekking{
    margin-left: 20px;
}
.main-section{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    flex-wrap: wrap;
    gap: 1rem;
}
.card{
    max-width: 400px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.2);
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.card-img-top{
    height: 300px;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
}

.card-body{
    padding:0 1rem;
}

p{
    font-weight: 400;
    text-align: justify;
    margin-bottom: 5px;
}

b{
    font-weight: 700;
}

h2{
    font-weight: 600;
    margin-bottom: 5px;
}
