#Trekking{
    margin-left: 20px;
}
.main-section{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    flex-wrap: wrap;
    
}
.card{
    width: 400px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;


}
.card-img-top{
    height: 300px;
    width: auto;
    border: 1px solid white;
    border-radius: 10px;
}

.card-body{
    padding-left: 10px;
}

p{
    font-weight: 400;
}